/* Tag Styles */
body{
    background-color: black;
}

h1{
    font-family: "Rubik Glitch";
}

button{
    background-color: black;
    border-color: #4dff00;
    width: 15%;
    height: 10%;
    color: #4dff00;
    font-family: "Audiowide";
    font-size: medium;
}



/* Class Styles */
.index{
    background-image: url('../assets/wallpaperflare.com_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: 2500px 430%;
    
}
.textbox{
    background-color: rgba(0, 0, 0, 0.5);
    color: #4dff00;
    font-family: "Audiowide";
}
/* ID Styles */

